<div class="container">
    <div class="row mx-0" style="border: 1px solid #ccc" *ngIf="product">
        <div class="col-4">
            <img [src]="product.image" [alt]="product.name" class="card-img-top">
        </div>

        <div class="col">
            <div class="card-body">
                <div class="row m-0 text-align-between">
                    <span>{{ product.brand }}</span>
                </div>

                <h2 class="card-title my-3">{{ product.name }}</h2>
                <div><small class="my-0">Model: {{ product.model }}</small></div>
            </div>
        </div>
    </div>

    <div style="display: block;" *ngIf="lineChartData.length > 0" class="my-5">
        <canvas baseChart width="400" height="100" [colors]="colors" [datasets]="lineChartData"
            [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
            [chartType]="lineChartType">
        </canvas>
    </div>


    <div class="row mx-0 mt-5 justify-content-center">

        <div class="d-flex" *ngIf="loading">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div *ngIf="!loading && products.length <= 0" class="col-8 text-center alert alert-warning">
            No se encontraron productos relacionados!
        </div>

        <table class="table table-bordered" *ngIf="!loading && products.length > 0">
            <thead>
                <tr>
                    <th scope="col">Productos</th>
                    <th scope="col">Tienda</th>
                    <th scope="col">Precios</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products">
                    <td>
                        <div class="media align-items-center">
                            <img class="mr-3" width="100" [src]="item.image" [alt]="item.name">
                            <div class="flex-column" style="width: 100%;">
                                <p class="my-0">{{ item.name }}</p>
                                <div><small class="my-0">sku: {{ item.sku }}</small></div>
                                <div><small class="my-0">Marca: {{ item.brand }}</small></div>
                                <div><small class="my-0">Modelo: {{ item.model }}</small></div>
                                <div class="row justify-content-between mt-5 mx-0">
                                    <div>
                                        <button class="btn btn-outline-primary btn-sm mr-2"
                                            (click)="getHistorialPrecio(item.id)">
                                            Historial
                                        </button>
                                        <a class="btn btn-outline-info btn-sm" [href]="item.url" target="blank">Ver en
                                            tienda</a>
                                    </div>
                                    <div>
                                        <small style="color: gray;">
                                            Ultima actualización: {{ item.updated_date | date }}
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                    <td class="align-middle">{{ item.store }}</td>
                    <td [class]="'align-middle '+ getScalaPrice(item.price)">
                        <div>
                            <small style="text-decoration: line-through;">
                                {{ item.normal_price | number }}
                            </small>
                            <div style="font-weight: bold;">
                                {{ item.price | number }}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row my-5 mx-0 justify-content-center" *ngIf="!loading">
        <button [routerLink]="['/home']" routerLinkActive="active" class="btn btn-primary">
            Realizar otra busqueda
        </button>
    </div>
</div>